mat-card{
  padding: 25px;
}
mat-form-field{
  width: 45%;
  margin: 0px 15px;
}
.bot{
display: flex;
flex-direction: column-reverse;
}
mat-card-actions{
  display: inline-flex;
    margin: 13px;
    padding: 0px;
}
button{
  margin-right:15px;
}
.w50{
  width: 100%;
}
