<div class="container-home">
  <div class="home">
    <mat-card class="example-card">
      <mat-card-header> </mat-card-header>
      <mat-card-content>
        <lottie-player
          src="https://assets10.lottiefiles.com/private_files/lf30_4bVja9.json"
          background="transparent"
          speed="1"
          style="width: 250px; height: 250px"
          loop
          autoplay
        ></lottie-player>
        <p>Visualizza la lista degli utenti</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" [routerLink]="['/users']">
          UTENTI
        </button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="example-card">
      <mat-card-header> </mat-card-header>
      <mat-card-content>
        <lottie-player
          src="https://assets4.lottiefiles.com/packages/lf20_njobaah2.json"
          background="transparent"
          speed="1"
          style="width: 250px; height: 250px"
          loop
          autoplay
        ></lottie-player>
        <p>Visualizza la lista dei clienti</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" [routerLink]="['/clienti']">
          CLIENTI
        </button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="example-card">
      <mat-card-header> </mat-card-header>
      <mat-card-content>
        <lottie-player
          src="https://assets6.lottiefiles.com/packages/lf20_taDv2I.json"
          background="transparent"
          speed="1"
          style="width: 250px; height: 250px"
          loop
          autoplay
        ></lottie-player>
        <p>Visualizza la lista delle fatture</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" [routerLink]="['/fatture']">
          FATTURE
        </button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="example-card">
      <mat-card-header> </mat-card-header>
      <mat-card-content>
        <lottie-player
          src="https://assets10.lottiefiles.com/packages/lf20_svy4ivvy.json"
          background="transparent"
          speed="1"
          style="width: 250px; height: 250px"
          loop
          autoplay
        ></lottie-player>
        <p>Visualizza la lista delle province</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" [routerLink]="['/province']">
          PROVINCE
        </button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="example-card">
      <mat-card-header> </mat-card-header>
      <mat-card-content>
        <lottie-player
          src="https://assets7.lottiefiles.com/private_files/lf30_ysi7tprv.json"
          background="transparent"
          speed="1"
          style="width: 250px; height: 250px"
          loop
          autoplay
        ></lottie-player>
        <p>Visualizza la lista dei comuni</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" [routerLink]="['/comuni']">
          COMUNI
        </button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="example-card">
      <mat-card-header> </mat-card-header>
      <mat-card-content>
        <lottie-player
          src="https://assets8.lottiefiles.com/packages/lf20_q5pk6p1k.json"
          background="transparent"
          speed="1"
          style="width: 250px; height: 250px"
          loop
          autoplay
        ></lottie-player>
        <p>Registra un nuovo utente</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" [routerLink]="['/logged-signup']">
          SIGNUP
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
