mat-sidenav-container {
  height: calc(100vh - 64px);
  background-color: whitesmoke;
}
mat-sidenav {
  width: 175px;
}
.active {
  background-color: #ffb300;
}
mat-icon {
  cursor: pointer;
}
button {
  width: 100%;
}
.active {
  background-color: #5d34a5;
  color: white;
}
mat-sidenav {
  background-color: white;
  margin: 15px;
  border-radius: 8px;
}
mat-toolbar{
  justify-content: space-between;
}
mat-toolbar button{
  width: auto;
  margin-left: 15px;
}
.logout{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
