mat-card{
  padding: 25px;
}
mat-form-field{
  width: 45%;
  margin: 0px 15px;
}
.cmn{
display: inline-flex;
}
mat-card-actions{
  display: inline-flex;
    margin: 13px;
    padding: 0px;
}
button{
  margin-right:15px;
}
